.cabecalho{
    background-color: #2b4f8d;
    margin-bottom: 10px;
    padding: 15px;
}

.cabecalho-titulo{
    color: #c4d9ff;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.cabecalho-subtitulo{
    color: #e8f9ff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.div-botao{
    background-color: #333;
    color: #e8f9ff;
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

.div-conteudo{
    align-items: start;
    gap: 10px 200px;
    justify-content: center;
    height: 400px;
    align-items: center;
    text-align: center;
}

.div-video-container{
    max-height: 300px;
    overflow: hidden;
    position: relative;
}

.div-informacoes-pessoais{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}


.div-informacoes-contato{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.div-informacoes-formacao{
    padding-top: 15px;
    padding-bottom: 15px;
}

.div-conteudo img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.rodape{
    background-color: #2b4f8d;
    color: #e8f9ff;
    font-family: Calibri, sans-serif;
}

.video-player{
    margin-top: -200px;
    width: 100%;
}

.video-source{
    height: auto;
}

body{
    margin: 0px;
    background-color: #041634;
}   
